* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#container {
    background-color: rgb(223, 217, 217);
    display: grid;
    margin: 10px;
    grid-template-columns: 1fr 500px;
    grid-template-rows: 620px;
    grid-gap: 10px;
}


/* #container div {
    border: 1px solid black;
} */

.leftmain {
    display: grid;
    margin-left: 20px;
    grid-auto-rows: 200px 70px 1fr;
}

#upper {
    justify-content: center;
    margin-top: 60px;
}

#upper #search {
    width: 450px;
    height: 50px;
    border-radius: 5px;
    padding: 5px;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 120px 1fr 50px;
}

#leftmiddle {
    display: flex;
    margin-left: 30px;
    color: black;
}

#leftlast {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

#lastlast {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
}

#lastlast div {
    background-color: whitesmoke;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#lastlast div img {
    height: 70px;
}